@using Microsoft.Extensions.Configuration;

@page "/"

<h1>Hello, @audience!</h1>

testII   Welcome to your new app.

<SurveyPrompt Title="How is Blazor from GitHUB 20 working for you?" />

